/*todolist*/
.wrapper {
    display: grid;
    grid-template-rows:40px 1fr ;
    border-radius: 5px;
    background: linear-gradient(205deg, rgba(13, 230, 53, 1) 0%, rgba(203, 218, 130, 1) 78%, rgba(208, 208, 208, 1) 100%);
    height: 100%;
}

.todoList_title {
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

/*createTodolist*/
.createTodolist_wrapper {
    display: grid;
    justify-content: center;
    padding-bottom: 10px;

    & button {
        all: unset;
        font-size: 25px;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
            -webkit-text-stroke: 1px #ff1d15;
        }
    }

}

/*tasks block*/
.tasks_block_wrapper {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    display: grid;
    grid-auto-rows: 35px;
    gap: 15px;
}

.week_mode {
    grid-auto-rows: 30px;
    gap: 10px
}




