.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid blue;

    @media screen and (max-width: 1024px){
        grid-template-columns: 35% 1fr;
    }
    @media screen and (max-width: 768px){
        grid-template-columns: 45% 1fr;
    }
    @media screen and (max-width: 425px){
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}

.main div{
    border: 1px solid yellowgreen;
}